MONGODB_URL="mongodb+srv://dilbekshermatov_db_user:dilbek1233@computer-club.mvxpznp.mongodb.net/?appName=computer-club"
PORT=4000
NODE_ENV=development
JWT_SECRET="23h9d3hdh3hd934hd3ndejncnc903"
JWT_EXPIRES_IN="7d"
