PORT=4000
NODE_ENV=development
MONGODB_URL="mongodb+srv://dilbekshermatov_db_user:dilbek1233@computer-club.mvxpznp.mongodb.net/?appName=computer-club"
CLIENT_URL="http://localhost:8081,http://10.0.2.2:8081"
BUSINESS_DAY_START_HOUR=7
JWT_SECRET="change-this-secret-key"
JWT_EXPIRES_IN=7d
SUPERADMIN_USERNAME=superadmin
SUPERADMIN_PASSWORD=change123
