MONGODB_URL="mongodb+srv://dilbekshermatov_db_user:dilbek1233@computer-club.mvxpznp.mongodb.net/?appName=computer-club"
MONGODB_FALLBACK_URL="mongodb://127.0.0.1:27017/bar-backend"
PORT=4000
BOT_TOKEN = "8725098450:AAHtQnLxsy0ZtnQt48x3TbD9aa0DcCWoopM"
TELEGRAM_CHAT_ID="5583276966"
NODE_ENV=development
JWT_SECRET="23h9d3hdh3hd934hd3ndejncnc903"
JWT_EXPIRES_IN="7d"
